<div class="flex justify-center w-full">
  <section class="flex flex-col gap-10 w-[1025px] mt-10">
    <header class="flex flex-row justify-between items-center">
      <button
        class="flex justify-center outline-none border-none items-center stroke-primary hover:stroke-white-1 hover:bg-primary bg-primary-light-2 h-[38px] w-[38px] rounded-full"
      >
        <icon-circle-arrow-left class="" />
      </button>
      <c-title variant="title-h1" color="black"> Editar perfil </c-title>
      <c-button variant="button-base"
        ><c-title variant="title-h6"> Guardar cambios </c-title></c-button
      >
    </header>
  </section>
</div>
