<layout-modal titleModal="Cambiar contraseña">
  <form
    [formGroup]="changePass"
    class="flex flex-col gap-3 w-full"
    action=""
    autocomplete="off"
  >
    <label class="flex flex-col gap-1 title-base-black w-full" for="">
      Contraseña anterior

      <input
        formControlName="pass"
        [ngClass]="{
          'input-standard h-10 w-full rounded-md': true,
          'input-error': !isValid('pass'),
          'input-success': isValid('pass')
        }"
        type="password"
        placeholder="Ingresa tu contraseña anterior"
        autocomplete="off"
      />

      <custom-errors-message
        *ngIf="!isValid('pass')"
        [formGroup]="changePass"
        controlName="pass"
        class="title-error-small"
      >
      </custom-errors-message>
    </label>

    <label class="flex flex-col gap-1 title-base-black w-full" for="">
      Contraseña nueva

      <input
        formControlName="repeatPass"
        [ngClass]="{
          'input-standard h-10 w-full rounded-md': true,
          'input-error': !isValid('repeatPass'),
          'input-success': isValid('repeatPass')
        }"
        type="password"
        placeholder="Ingresa la contraseña nueva"
        autocomplete="off"
      />

      <custom-errors-message
        *ngIf="!isValid('repeatPass')"
        [formGroup]="changePass"
        controlName="repeatPass"
        class="title-error-small"
      >
      </custom-errors-message>
    </label>

    <div class="flex flex-col gap-1 title-base-black w-full" for="">
      <input
        formControlName="repeatPassNew"
        [ngClass]="{
          'input-standard h-10 w-full rounded-md': true,
          'input-error': !isValid('repeatPassNew'),
          'input-success': isValid('repeatPassNew')
        }"
        type="password"
        placeholder="Validar contraseña nueva"
        autocomplete="off"
      />

      <custom-errors-message
        *ngIf="!isValid('repeatPassNew')"
        [formGroup]="changePass"
        controlName="repeatPassNew"
        class="title-error-small"
      >
      </custom-errors-message>

      <em class="body-sm-black-normal">
        <strong>Nota:</strong> Ingresa tu contraseña nueva correctamente
      </em>
    </div>
  </form>
</layout-modal>
