<layout-modal
  titleModal="Cambiar contraseña"
  [numberOfButtons]="2"
  [footer]="true"
  titleButtonOne="Aceptar"
  titleButtonTwo="Cancelar"
  [form]="changePass"
>
  <form
    [formGroup]="changePass"
    class="flex flex-col gap-3 w-full"
    action=""
    autocomplete="off"
  >
    <c-label>
      Old password
      <c-input
        css="input-primary"
        type="password"
        placeholder="*******"
        formControlName="pass"
        name="pass"
      />
    </c-label>

    <div class="flex flex-col p-2 bg-gray-0 rounded-md gap-2">
      <em class="text-secondary dark:text-secondary-dark body-medium">
        <strong>Nota:</strong> Ingresa tu contraseña nueva correctamente
      </em>
      <c-label>
        New password
        <c-input
          css="input-primary"
          type="password"
          placeholder="*******"
          formControlName="password"
          name="password"
        />
      </c-label>

      <c-label>
        Repeat password
        <c-input
          css="input-primary"
          type="password"
          placeholder="*******"
          formControlName="passRepeat"
          name="passRepeat"
        />
      </c-label>
    </div>
  </form>
</layout-modal>
