<layout-modal
  titleModal="Cambiar email"
  [numberOfButtons]="2"
  [footer]="true"
  titleButtonOne="Aceptar"
  titleButtonTwo="Cancelar"
  [resetFormFunction]="resetForm"
  [isInputChanged]="isInputChanged()"
  [form]="emailControl"
>
  <form
    [formGroup]="emailControl"
    class="flex flex-col gap-3 w-full"
    action=""
    autocomplete="off"
  >
    <c-label>
      Email
      <c-input
        css="input-primary"
        type="email"
        placeholder="jhonDoe@gmail.com"
        formControlName="email"
        name="email"
      />
    </c-label>

    <c-label>
      Password
      <c-input
        css="input-primary"
        type="password"
        placeholder="*******"
        formControlName="pass"
        name="pass"
      />
    </c-label>
  </form>
</layout-modal>
