<form
  [formGroup]="formGroup"
  autocomplete="off"
  class="p-4 bg-gray-0 dark:bg-black-1 shadow-neutral-level2 rounded-xl h-auto"
>
  <c-title variant="title-h5" color="black">Información personal</c-title>
  <div class="flex flex-row justify-between h-[200px] gap-4 mt-6">
    <avatar
      [changeAvatar]="changeAvatar"
      [dataUserEditProfile]="dataUserEditProfile"
      [loadingProfile]="loadingProfile"
    />
    <c-label
      class="flex h-full w-[350px]"
      variant="label-base"
      for="description"
    >
      Descripción
      <c-text-area
        class="flex flex-grow w-full"
        id="description"
        [maxCharacters]="200"
        name="description"
        placeholder="Write a brief description of yourself..."
        variant="text-area-base"
        formControlName="description"
      />
    </c-label>

    <buttons-actions-change-main-info
      [changeUserName]="changeUserName"
      [changeEmail]="changeEmail"
      [changePassword]="changePassword"
      [dataUserEditProfile]="dataUserEditProfile"
    />
  </div>
</form>
