@if(control) {
<div class="content-input">
  <div class="content-input relative">
    <input
      [ngClass]="{
        input: true,
        'input-base': variant === 'input-base',
        'b-success': isValid() && !isUntouched() && !control!.disabled,
        'b-error': !isValid() && !isUntouched() && !control!.disabled,
        'b-neutral': isUntouched() && !control!.disabled,
        'b-disabled': control!.disabled
      }"
      [placeholder]="placeholder"
      [type]="inputType"
      [attr.value]="value || null"
      [attr.id]="id || null"
      [formControl]="control"
      [disabled]="control!.disabled"
      autocomplete="off"
    />
    <button
      *ngIf="type === 'password' && !control!.disabled"
      (click)="togglePasswordVisibility()"
      class="icon-pass"
      [ngClass]="{
        'r-4': !control.value,
        'r-10': control.value !== ''
      }"
    >
      @if(showPassword) {
      <icon-hidden-pass />
      } @else {
      <icon-show-pass />
      }
    </button>

    @if (control.value !== '' && inputType !== 'date') {
    <button (click)="clearInput()" class="clear-button">
      <icon-clear-input />
    </button>
    }
  </div>
  @if(!isValid() && !control!.disabled && control!.touched) {
  <c-error-input [formContained]="control" [controlName]="name"></c-error-input>
  }
</div>
}
