<form
  [formGroup]="changeAreas"
  autocomplete="off"
  class="flex flex-row gap-2 w-full"
>
  <div
    class="flex gap-4 justify-center items-center flex-1 p-4 flex-wrap h-auto bg-white-1 dark:bg-black-2 rounded-md shadow-neutral-level1"
  >
    <c-title variant="title-h6" color="black" class="text-center w-full"
      >Areas de interés</c-title
    >

    @for(area of areas; track area.id) {
    <button
      (click)="toggleAreaSelection(area, TYPE_AREA.EXPERTISE)"
      [ngClass]="{
        'bg-success-light-2 gap-2 text-success': isAreaSelected(
          area,
          TYPE_AREA.EXPERTISE
        ),
        'bg-primary-light-2 text-primary': !isAreaSelected(
          area,
          TYPE_AREA.EXPERTISE
        ),
        'flex flex-row justify-center items-center w-fit px-2 h-[38px] outline-none border-none rounded-2xl': true
      }"
    >
      @if(isAreaSelected(area, TYPE_AREA.EXPERTISE)) {
      <icon-circle-check />
      }
      {{ area.name }}
    </button>
    }
  </div>

  <div
    class="flex gap-4 justify-center items-center flex-1 p-4 flex-wrap h-auto bg-white-1 dark:bg-black-2 rounded-md shadow-neutral-level1"
  >
    <c-title variant="title-h6" color="black" class="text-center w-full"
      >Areas de expertis</c-title
    >

    @for(area of areas; track area.id) {
    <button
      (click)="toggleAreaSelection(area, TYPE_AREA.INTEREST)"
      [ngClass]="{
        'bg-success-light-2 gap-2 text-success': isAreaSelected(
          area,
          TYPE_AREA.INTEREST
        ),
        'bg-primary-light-2 text-primary': !isAreaSelected(
          area,
          TYPE_AREA.INTEREST
        ),
        'flex flex-row justify-center items-center w-fit px-2 h-[38px] outline-none border-none rounded-2xl': true
      }"
    >
      @if(isAreaSelected(area, TYPE_AREA.INTEREST)) {
      <icon-circle-check />
      }
      {{ area.name }}
    </button>
    }
  </div>
</form>
