<div class="flex flex-col h-full justify-between w-[350px]">
  @for(button of buttons; track button.id) {
  <c-button-change-main-info
    (click)="openModal(button.modal)"
    [icon]="button.icon"
    [title]="button.title"
  />
  }
</div>

@if (modalManagerService.getCurrentModal() === MODALS.USER_NAME_MODAL) {
<modal-change-nick [nick]="dataUserEditProfile.username"></modal-change-nick>
} @if (modalManagerService.getCurrentModal() === MODALS.EMAIL_MODAL) {
<modal-change-email [email]="dataUserEditProfile.email"></modal-change-email>
} @if (modalManagerService.getCurrentModal() === MODALS.PASSWORD_MODAL) {
<modal-change-password></modal-change-password>
}
